@model IEnumerable<KIS.Core.Domain.Models.TeamListModel>

@{
    ViewData["Title"] = "Teams";
}

<h1>Teams</h1>

<p>
    @Html.ActionLink("Create team", "Create")
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("Players", "Team", "Player", new { id = item.TeamId }) |
                @Html.ActionLink("Last year profit", "LastYearProfit", "Team", new { name = item.Name })
            </td>
        </tr>
    }
    </tbody>
</table>

